
# Web scraping for financial data

Using Pandas to scrap data tables with just a few line of codes.

In [1]:
import pandas as pd

try: 
    import lxml
except:
    %pip install lxml

In [2]:
url = 'https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates/'

In [8]:
# pandas will capture all the tables found in the url and put them in a list
res = pd.read_html(url)

In [9]:
res

[              Currency  2024‑02‑26  2024‑02‑27  2024‑02‑28  2024‑02‑29  \
 0    Australian dollar    0.883800    0.884900    0.881600    0.882600
 1       Brazilian real    0.271200    0.273400    0.273600    0.272700
 2     Chinese renminbi    0.187800    0.187800    0.188600    0.188800
 3        European euro    1.466100    1.466700    1.470400    1.468000
 4     Hong Kong dollar    0.172700    0.172800    0.173400    0.173300
 5         Indian rupee    0.016310    0.016310    0.016370    0.016370
 6    Indonesian rupiah    0.000086    0.000086    0.000087    0.000086
 7         Japanese yen    0.008970    0.008990    0.009010    0.009060
 8         Mexican peso    0.079010    0.079230    0.079390    0.079530
 9   New Zealand dollar    0.834200    0.834100    0.827000    0.826400
 10     Norwegian krone    0.128400    0.128300    0.128200    0.127900
 11    Peruvian new sol    0.355800    0.356800    0.357700    0.358700
 12       Russian ruble    0.014620    0.014680    0.014810    0.014830
 13         Saudi riyal    0.360300    0.360500    0.361900    0.361800
 14    Singapore dollar    1.005100    1.006200    1.008300    1.008800
 15  South African rand    0.069940    0.070800    0.070470    0.070680
 16    South Korean won    0.001014    0.001015    0.001016    0.001016
 17       Swedish krona    0.131300    0.131200    0.131300    0.131000
 18         Swiss franc    1.534800    1.537100    1.543300    1.538300
 19    Taiwanese dollar    0.042810    0.042780    0.042870    0.042910
 20        Turkish lira    0.043400    0.043400    0.043500    0.043400
 21   UK pound sterling    1.713800    1.714700    1.717600    1.714800
 22           US dollar    1.351500    1.352100    1.357400    1.357000

     2024‑03‑01
 0     0.884500
 1     0.273800
 2     0.188500
 3     1.469000
 4     0.173300
 5     0.016370
 6     0.000086
 7     0.009030
 8     0.079700
 9     0.827500
 10    0.128700
 11    0.359700
 12    0.014810
 13    0.361700
 14    1.008500
 15    0.070930
 16    0.001017
 17    0.131300
 18    1.532600
 19    0.042920
 20    0.043200
 21    1.715300
 22    1.356400  ]

In [18]:
# you can see that res is a list
type(res)

list

In [20]:
# the table I want is the first and only item in the list
df = res[0]

In [21]:
display(df)

,Currency,2024‑02‑26,2024‑02‑27,2024‑02‑28,2024‑02‑29,2024‑03‑01
0,Australian dollar,0.883800,0.884900,0.881600,0.882600,0.884500
1,Brazilian real,0.271200,0.273400,0.273600,0.272700,0.273800
2,Chinese renminbi,0.187800,0.187800,0.188600,0.188800,0.188500
3,European euro,1.466100,1.466700,1.470400,1.468000,1.469000
4,Hong Kong dollar,0.172700,0.172800,0.173400,0.173300,0.173300
5,Indian rupee,0.016310,0.016310,0.016370,0.016370,0.016370
6,Indonesian rupiah,0.000086,0.000086,0.000087,0.000086,0.000086
7,Japanese yen,0.008970,0.008990,0.009010,0.009060,0.009030
8,Mexican peso,0.079010,0.079230,0.079390,0.079530,0.079700
9,New Zealand dollar,0.834200,0.834100,0.827000,0.826400,0.827500
10,Norwegian krone,0.128400,0.128300,0.128200,0.127900,0.128700
11,Peruvian new sol,0.355800,0.356800,0.357700,0.358700,0.359700
12,Russian ruble,0.014620,0.014680,0.014810,0.014830,0.014810
13,Saudi riyal,0.360300,0.360500,0.361900,0.361800,0.361700
14,Singapore dollar,1.005100,1.006200,1.008300,1.008800,1.008500
15,South African rand,0.069940,0.070800,0.070470,0.070680,0.070930
16,South Korean won,0.001014,0.001015,0.001016,0.001016,0.001017
17,Swedish krona,0.131300,0.131200,0.131300,0.131000,0.131300
18,Swiss franc,1.534800,1.537100,1.543300,1.538300,1.532600
19,Taiwanese dollar,0.042810,0.042780,0.042870,0.042910,0.042920
20,Turkish lira,0.043400,0.043400,0.043500,0.043400,0.043200
21,UK pound sterling,1.713800,1.714700,1.717600,1.714800,1.715300
22,US dollar,1.351500,1.352100,1.357400,1.357000,1.356400